//Variables simples
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-grey: #eaeaea;
$color-light-grey: #f6f6f6;
$color-dark-grey: #353535;
$color-border-shadow: #d2d2d2;
$color-icons: #7e7e7e;

$box-shadow: (
  shadow-header: 0px 3px 3px $color-border-shadow,
  shadow-left: 5px 5px 3px $color-border-shadow,
  shadow-right: -5px 5px 3px $color-border-shadow,
);

//maps
$breakpoints: (
  mobile: 768px,
  tablet: 992px,
  laptop: 993px,
  //Petit écran ordi
  desktop: 1050px,
  //Grand écran ordi,
);

$fonts: (
  Roboto: "Roboto",
  Shrikhand: "Shrikhand",
);
/*
$palette:(
  active :(
    bg
    border
    txt
  )
  focus :(
    bg
    border
    txt
  )
  hover :(
    bg
    border
    txt
  )
)
*/
