.header {
  display: flex;
  background-color: $color-white;
  flex-flow: column wrap;
  
  #no-display {
    display: none;
  }

  &__heading {
    font-weight: bold;
  }

  &__logo {
    z-index: 1;
    @include box-shadow(0px, 0px, 3px, 3px);
    background: $color-white;
    @include mobile-only {
      @include center-flex;
      overflow: hidden;
      height: 70px;

      img {
        width: 170px;
        height: 30px;
        margin: 10px;
      }
    }
  }

  &__location {
    background-color: $color-grey;
    display: flex;
    justify-content: center;
    align-items: baseline;
    @include mobile-only {
      display: flex;
      flex-flow: row wrap-reverse;
    }
    i {
      color: $color-dark-grey;
    }
    p {
      margin-left: 15px;
    }
  }

  &__prenote-menu {
    background-color: $color-light-grey;
    text-align: center;
  }
}

.heading {
  font-family: "Shrikhand";
}
