.main {
  &__text {
    @extend %text;
  }

  &__operation {
    text-align: center;
    display: flex;
    flex-direction: column;
  //  flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;

    h2{
      @include Roboto-heading;
    }

    

    &-card-list {
      display: flex;
      @include mobile-only {
        flex-flow: column wrap;
      }
    }
    &-number {
      color: white;
      background: $color-primary;
      border-radius: 15px;
      position: absolute;
      transform: translate(-135px, 40px);
      padding: 5px 10px;
    }

    &-card {
      @include border-radius(20px);
      @include box-shadow(5px, -5px, 5px, 3px, $color-grey);
      padding: 25px;
      margin: 20px;
      background-color: $color-light-grey;
      &:hover {
        background: #f5edff;
        i {
          color: $color-primary;
        }
      }
      &-row {
        display: flex;
      }
    }

    i {
      color: $color-icons;
    }
  }

  &__section {
    background-color: $color-light-grey;
    @include center-flex;
    flex-direction: column;
    &-heading {
     @include Roboto-heading;
    }
  }

  &__card-list--grid {
    display: grid;
    @include grid-prop-wide-screen;
    gap: 25px;
    @include mobile-only {
      @include grid-prop-mobile;
      gap: 20px;
      width: 335px;
    }
    @include tablet-only {
      gap: 20px;
    }
  }

  &__section-card-new {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 40%);
    padding: 7px;
    @include border-radius(2px);
    position: absolute;
    @include mobile-only {
      transform: translate(250px, 15px);
    }

    @include tablet-only {
      transform: translate(320px, 15px);
    }

    @include laptop-only {
      transform: translate(320px, 15px);
    }

    @include desktop-only {
      transform: translate(450%, 15px);
    }
  }

  &__section-card {
    @include border-radius(20px);
    @include box-shadow;
    display: flex;
    flex-flow: column wrap;

    &-img {
      object-fit: cover;
      overflow: hidden;
      @include border-corner-rad(15px, 15px, 0, 0);
      height: 275px;
      @include mobile-only {
        height: 175px;
      }
      @include tablet-only {
        height: 240px;
      }
      @include desktop-only {
        height: 300px;
      }
    }
    &-content {
      @include border-corner-rad(0, 0, 15px, 15px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;
    }
    &-text {
      margin: 10px;
      p {
        margin: 5px;
      }
      h4 {
        margin: 5px 5px 5px 5px;
      }
    }
  }

  a {
    @include mobile-only {
      height: 175px;
    }
    @include desktop-only {
      height: 300px;
      width: 450px;
    }
  }
}
